.fast-fadein {  /* もっとも一般的なフェードイン */
  animation: fastFadeIn .5s;
  animation-fill-mode: both;
}
@keyframes fastFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fast-fadeout {  /* もっとも一般的なフェードアウト */
  animation: fastFadeOut .5s;
  animation-fill-mode: both;
}
@keyframes fastFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}